body {
  font-family: "Montserrat", sans-serif;
  color: rgb(16, 26, 76);
  background: rgb(245, 245, 247);
  text-align: center;
}

#showDetail {
  font-size: 1.8em;
}

#showDays {
  font-size: 1.5em;
}

h1 {
  font-size: 2.5em;
}

img {
  height: 200px;
  width: 200px;
}

.list--centre-justify { 
  font-size: 1.5em;
  display: grid; 
  place-items: center; 
  text-align: left;
} 

li {padding-left:1em}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(245, 245, 247);
    background: rgb(18, 18, 18);
  }
}
